{% extends "base.html" %}


{% block contents %}
<div style="margin-top: 100px;">
  <link rel="stylesheet" href="/static/css/sidenav.css">
  <div class="sidenav">
      {% for post in category %}
      <a href='{% url "detail-view" post.category post.pk %}'>{{post.title}}</a>
      {% endfor %}
  </div>
<div style="margin-left: 150px;">
  {% for post in Posts%}
  <div style="padding-left:5%;padding-right:5%;">
    <center><h1>{{post.title}} {{post.category}}</h1></center>
    {{post.body | safe }}

    <div class="card mb-3" style="max-width: 800px; background-color: rgb(183, 179, 187);">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{post.author.profile.Profile_Picture.url}}" class="rounded-circle" width="100" height="100">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{post.author.profile.Full_name}}</h5>
            <p class="card-text">{{post.author.profile.Designation}}</p>
          </div>
        </div>
      </div>
    </div>

    <a type="button" class="btn btn-secondary" href="{% url 'view-category' post.category %}"> Back </a>
  </div>
</div>
</div>
{% endfor %}
{% endblock %}