{% extends "base.html" %}

{% block contents %}
<div style="margin-top: 100px;">
    <link rel="stylesheet" href="/static/css/sidenav.css">
    <div class="sidenav">
        {% for post in category %}
        <a href='{% url "detail-view" cats post.pk %}'>{{post.title}}</a>
        {% endfor %}
    </div>

    <div style="margin-left: 160px;">
        <div style="padding-left:0%;padding-right:0%;">
            <center>
                <h1>{{cats}} Tutorial</h1>
            </center>
            {% for post in category %}
           
            <div style="padding : 1% ; overflow: hidden;">
               
                <div class="card w-100">
                    <div class="card-header" style="background-color: rgb(236, 226, 226) ;">
                       
                        <div style="padding-left:5%;padding-right:5%;">
                            <br>
                            <b><a href='{% url "detail-view" cats post.pk %}'>{{post.title}}</a>
                                <br>{{post.author.first_name}} - {{post.author.email}}

                            {% if user == post.author %}
                            <small>
                                <a href='{% url "update-post" post.pk %}'>(edit)</a>
                                <a href='{% url "delete-post" post.pk %}'>(delete)</a>
                            </small>
                            {% endif %}
                            {{ post.body | slice:":300" | safe }}
                        </div>
                    </div>
                </div>
          <br/>
            </div>
            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}