{% extends "base.html" %}

{% block contents %}
<style>
    .cardstyle {
        text-decoration: none;
    }
</style>
<div style="margin-top: 100px;">
    <link rel="stylesheet" href="/static/css/sidenav.css">
    <div class="sidenav">
        {% for post in category %}
        <a href='{% url "detail-view" cats post.pk %}'>{{post.title}}</a>
        {% endfor %}
    </div>
    <div style="margin-left: 160px;">
        <div style="padding-left:2%;padding-right:2%;">
            <center>
                <h1>{{cats}} Tutorial</h1>
            </center>

            {% for post in category_head %}
            {% if forloop.first %}
                    {{ post.body |safe}}
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}