{% extends "base.html" %}

{% block contents %}
<link rel="stylesheet" href="/static/css/index-background.css">
<div class="d-flex flex-column justify-content-center w-100 h-100">

	<div class="d-flex flex-column justify-content-center align-items-center">
		<h1 class="fw-light text-white m-0" style="font-size:600%;">Color your Future</h1>
		<div class="btn-group my-5">
			<form class="row domain-search bg-pblue">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="input-group">
                        <input type="search" class="form-control">
                        <span class="input-group-addon"><input type="submit" value="Search" class="btn btn-primary"></span>
                    </div>
                </div>
            </div>
        </div>
      </form>
		</div>
	</div>
</div>
</div>
{% endblock %}